# SPDX-FileCopyrightText: 2024 dffdff2423 <dffdff2423@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-only

Checks:  'bugprone-*,
          clang-analyzer-*,
          concurrency-*,
          modernize-*,
          performance-*,
          cppcoreguidelines-*,
          misc-include-cleaner,

          -modernize-deprecated-headers,
          -cppcoreguidelines-pro-type-union-access,
          -cppcoreguidelines-prefer-member-initializer,
          -bugprone-easily-swappable-parameters
          '
